<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/logman</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="com/analysis/logman/entity/AssociationeventsEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/AssociationresultEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/DestipanalysisEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/DestportanalysisEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/EventsEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/EventstypeEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/FileregexEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/FwlogEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/FwlogeventsEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/FwlogflowEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/LogfileEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/SensitiveportEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/SrcipanalysisEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/UserEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/WebflowavgEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/WeblogEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/WeblogeventsEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/WeblogflowEntity.hbm.xml"/>
        <mapping resource="com/analysis/logman/entity/WeblogstatisticsEntity.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>